
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3
.DS_Store
*.bak
*.zip
*.tar
*.gz
.git/
.github/
.gitignore
.dockerignore
LICENSE
readme.md
*.md
*.txt
!requirements.txt
*.pkl
*.bin
*.model
*.h5
*.onnx
*.pt
*.pth
